.parent_container {
  position: relative;
  min-height: 55rem;
}

.login_container {
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  width: 50%;
  max-width: 100%;
  height: 40rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
