$white: #fff;

@mixin breakpoint($point) {
  @if $point == mobile {
    @content;
  } @else if $point == small {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
