.controller_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 1.5rem;
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #7a4b92, rgb(171, 127, 180));
  background: linear-gradient(to right, #7a4b92, rgb(171, 127, 180));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  height: 12%;

  button {
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
    &:hover {
      cursor: pointer;
    }
    &:active {
      scale: 1.2;
    }
  }
}

.view_date {
  display: flex;
  gap: 2rem;
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .controller_container {
    display: flex;
    gap: 1rem;
  }
  .view_date {
    display: flex;
    gap: 1rem;
  }
}
