.container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  border-radius: 20px;
  background-color: #fff;
  border-color: #ffffff;
  color: #ff416c;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.2rem 4.5rem;
  border-style: solid;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.input_nonebtn {
  width: 100%;
  margin: 0.5rem;
  background-color: #ffffff;
  border: none;
  padding: 1.2rem 1.5rem;
  outline: none;
  box-sizing: border-box;
}

.input_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  input {
    width: 70%;
    margin: 0.5rem 0;
    box-sizing: border-box;
    outline: none;
    padding: 1.2rem 1.5rem;
    background-color: #ffffff;
    border: none;
    height: 3rem;
  }

  button {
    width: 28%;
    border: 2px solid #ffffff;
    background-color: #ff416c;
    color: #ffffff;
    margin-left: 2%;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
  }
}

.btn_goback {
  position: absolute;
  top: 0;
  left: 2rem;
  font-weight: bold;
  font-size: 2rem;
  border: none;
  background-color: inherit;
  color: #ffffff;
  &:hover {
    cursor: pointer;
  }
}
