.calendar_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #b652b6;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.date_container {
  height: 88%;
  display: flex;
  flex-direction: column;
}

.transition_enter {
  opacity: 0;
}

.transition_enter_active {
  opacity: 1;
  transition: opacity 300ms ease;
}

.set_btn {
  position: absolute;
  top: 0;
  right: 0;
}
